.info {
  font-size: 80px;
  color: white;
  text-align: center;
  background: white;
  display: grid;
  grid-template-areas: "schedule schedule schedule"
   "stats stats stats"
   "graphs graphs graphs";
}

.schedule {
  grid-area: schedule;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: start;
  align-items: start;
  text-align: start;
  margin: 15px 5px 0 5px;
  color: black;
  overflow: scroll;
}

.schedule h2 {
  text-align: center;
  font-size: 22px;
}

.schedule-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 2px black solid;
  grid-gap: 5px 15px;
  font-size: 18px;
  margin-bottom: 8px;
  padding: 10px;
  color: black;
}

.schedule-date {
  grid-column: 1 / -1;
  font-size: 14px;
  text-decoration: underline;
  align-self: end;
}
