.info {
  background: white;
  display: grid;
  font-size: 80px;
  text-align: center;
  grid-template-areas: "schedule schedule schedule"
   "stats stats stats"
   "graphs graphs graphs"
   "footer footer footer";
}

.schedule {
  align-items: start;
  color: black;
  display: grid;
  grid-area: schedule;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: start;
  margin: 15px 5px 5px 5px;
  overflow: scroll;
  text-align: start;
}

.schedule h2 {
  font-size: 22px;
  text-align: center;
}

.schedule-item {
  border: 2px black solid;
  display: grid;
  font-size: 18px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px 15px;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 8px;
  padding: 10px;
}

.schedule-date {
  align-self: end;
  font-size: 14px;
  grid-column: 1 / -1;
  text-decoration: underline;
}

.stats {
  border: 1px black solid;
  display: grid;
  grid-area: stats;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-self: center;
  margin-bottom: 10px;
  padding: 8px;
  text-align: center;
  width: 80%;
}

.stat-list span {
  font-size: 18px;
  line-height: 35px;
  text-decoration: underline;
}

.stats div {
  font-size: 14px;
  line-height: 22px;
}



@media(max-width: 900px) {
  body {
    margin: 0;
  }
  .info {
    grid-template-areas: "schedule"
    "stats"
    "graphs"
    "footer"
  }
}
