 @import url('https://fonts.googleapis.com/css?family=Work+Sans:regular,black');
 @import url('https://fonts.googleapis.com/css?family=Raleway:regular,black');
 @import url('https://fonts.googleapis.com/css?family=Rubik:regular,black');

:root {
  --roadblue: 0, 53, 148;
  --navyblue: #041E42;
  --silver: #869397;
  --pantgrey: #7F9695;
}

html {
  box-sizing: border-box;
  font-family: 'Rubik';
  font-weight: normal;
}


body {
  margin: 0 5%;
  padding: 0;
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/cowboy-field.jpg") no-repeat top center fixed; */
  background: var(--navyblue);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

h2 {
  font-size: 50px;
  font-family: 'Raleway';
  font-weight: 800;
  letter-spacing: 5px;
}

/* Layout */

.App {
  display: grid;
  grid-template-areas: "header header news"
    "info info info"
    "websites websites websites"
    "forums forums forums"
    "twitter twitter twitter"
    "footer footer footer";
}

/* Header */

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/cowboy-field.jpg") no-repeat top center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 600px;
}


.headerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 25px;;
}

.headerText > * {
  margin: 5px;
}

.headerText h1 {
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: 500;
}
.headerText h4 {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
}

.header .button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: white;
  background-color: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3%;
}

.header .button:hover {
  background: rgba(255, 255, 255, .4);
}


/* News */

.news {
  grid-area: news;
  display: grid;
  background: var(--silver);
  max-height: 600px;
  overflow: scroll;
  min-width: 200px;
}

.news-layout {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-bottom: 25px;
}

.news-layout h2 {
  grid-column: 1 / -1;
  align-self: end;
  margin: 40px 0 0 0;
  line-height: 86%;
  margin-bottom: 15px;
}

.news-layout span{
  font-size: 12px;
  line-height: 5px;
  font-weight: normal;
}

.news-item {
  display: grid;
  grid-gap: 10px;
  margin: 5px;
  align-items: center;
  background: white;
  border: 8px solid var(--navyblue);
  padding: 15px;
}

.news-item img {
  width: 100%;
  border-left: 5px solid black;
  padding-left: 5px;
}
.news-item a {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  color: var(--navyblue);
}

/* Info */
.info {
  display: grid;
  grid-area: info;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.info-item {
  width: 300px;
  height: 250px;
  border: 3px solid black;
  justify-self: center;
  margin: 20px 0;
  background: white;
}

/* Websites */

.websites {
  grid-area: websites;
  background: white;
}

.websites-layout {
  /* margin: 10px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  grid-row-gap: 50px;
  margin-bottom: 4%;
  text-align: center;
}

.websites-layout h2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0;
  margin-bottom: 35px;
  align-items: center;
}

.websites-layout h2:before, .websites-layout h2:after {
  display: block;
  content: '';
  height: 10px;
  margin-right: 10px;
  background: linear-gradient(to var(--direction, left), var(--navyblue), transparent);
}

.websites-layout h2:after {
  margin-left: 10px;
  --direction: right;
}

.website-item:nth-child(even) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.website-item:nth-child(even) a{
  justify-self: center;
}

.website-item:nth-child(even) div{
  text-align: center;
  padding: 0 35px 0 0;
}

.website-item:nth-child(even) div a, .website-item:nth-child(even) div a:visited {
  color: #000000;
}

.website-item:nth-child(odd) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.website-item:nth-child(odd) a{
  justify-self: center;
}

.website-item:nth-child(odd) div{
  text-align: center;
  padding: 0 0 0 35px;
}

.website-item:nth-child(odd) div a, .website-item:nth-child(odd) div a:visited {
  color: #000000;
}

.website-item a {
  width: 350px;
  height: auto;
  box-shadow: -10px -10px var(--navyblue)
}

.website-item a img {
  width: 100%;
  height: 100%;
}

.website-item div h3 {
  margin-bottom: 0 !important;
}


/* Forums */

.forums {
  grid-area: forums;
  background: var(--silver);
}

.forums-layout {
  /* margin: 10px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  grid-row-gap: 50px;
  margin-bottom: 4%;
  text-align: center;
}

.forums-layout h2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0;
  margin-bottom: 35px;
  align-items: center;
}

.forums-layout h2:before, .forums-layout h2:after {
  display: block;
  content: '';
  height: 10px;
  margin-right: 10px;
  background: linear-gradient(to var(--direction, left), var(--navyblue), transparent);
}

.forums-layout h2:after {
  margin-left: 10px;
  --direction: right;
}


/* Twitter */

.twitter {
  grid-area: twitter;
  display: grid;
  background: rgba(255, 255, 255, 1);
}

.twitter-container {
  display: grid;
  margin: 15px 15px 35px 35px;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  justify-content: center;
  align-items: center;
}

.twitter-container h2 {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column: 1 / -1;
  font-size: 3em;
  font-weight: 600;
  align-items: center;
}

.twitter-container h2:before, .twitter-container h2:after {
  display: block;
  content: '';
  height: 10px;
  margin-right: 10px;
  background: linear-gradient(to var(--direction, left), var(--navyblue), transparent);
}

.twitter-container h2:after {
  margin-left: 10px;
  --direction: right;
}

.twitter-profile {
  display: grid;
  grid-template-columns: 75px 1fr;
  align-self: center;
  justify-self: center;
  grid-gap: 10px;
  width: 100%;
}

.twitter-profile > * {
  width: 100%;
  border-radius: 100px;
}





/* Footer */

.footer {
  grid-area: footer;
  /* grid-column: 1 / -1; */
  background-color: var(--pantgrey);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */

@media (min-width: 1024px) {
  .website-item:nth-child(even) div {
    margin-right: 6%;
  }
  .website-item:nth-child(odd) div {
    margin-left: 6%;
  }
}

/* Tablet */
@media(max-width: 900px) {
 body {
   margin: 0;
 }

 .App {
   grid-template-areas: "header header header"
   "news news news"
   "info info info"
   "websites websites websites"
   "forums forums forums"
   "twitter twitter twitter"
   "footer footer footer";
 }

 .news-layout {
   display: grid;
   grid-template-columns: auto;
   grid-auto-flow: column;
   max-height: 250px;
   align-items: center;
   padding-bottom: 0;

 }

 .news-layout h2, .news-layout h4 {
   align-self: start;
   padding: 0px;
   margin-right: 20px;
 }

 .news-item {
   padding: 25px;
   width: 150px;
   height: 125px;
 }

 .news-item a {
  font-size: 14px;
 }

}

/* Phone */
@media(max-width: 700px) {
  .App {
    grid-template-areas: "header"
    "news"
    "info"
    "websites"
    "forums"
    "twitter"
    "footer";
  }

  .websites-layout, .forums-layout{
    grid-row-gap: 35px;
  }

  .website-item {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .website-item div {
    margin: 0 !important;
    padding: 5% !important;
  }

  .website-item:nth-child(even) a{
    grid-column: 1 / -1;
    justify-self: center;
  }
  .website-item:nth-child(even) div{
    grid-column: 1 / -1;
    justify-content: center;
  }

  .website-item:nth-child(odd) a{
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: center;
    order: 0;
  }
  .website-item:nth-child(odd) div{
    justify-content: center;
    grid-column: 1 / -1;
  }

}
