 @import url('https://fonts.googleapis.com/css?family=Work+Sans');
:root {
  --roadblue: 0, 53, 148;
  --navyblue: #041E42;
  --silver: #869397;
  --pantgrey: #7F9695;
}

html {
  box-sizing: border-box;
  font-family: 'Work Sans';
}


body {
  margin: 0 5%;
  padding: 0;
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/cowboy-field.jpg") no-repeat top center fixed; */
  background: var(--navyblue);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

h2 {
  font-size: 50px;
}

/* Layout */

.App {
  display: grid;
  grid-template-areas: "header header news"
    "websites websites websites"
    "forums forums forums"
    "twitter twitter twitter"
    "footer footer footer";
}

/* Header */

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/cowboy-field.jpg") no-repeat top center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 600px;
}

.headerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid white;
  margin: 25px;;
}

.headerText > * {
  margin: 5px;
}

.headerText h1 {
  font-size: 60px;
}
.headerText h4 {
  font-size: 20px;
}


/* News */

.news {
  grid-area: news;
  display: grid;
  background: var(--silver);
  max-height: 600px;
  overflow: scroll;
  min-width: 200px;
}

.news-layout {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-bottom: 25px;
}

.news-layout h2 {
  grid-column: 1 / -1;
  align-self: end;
  margin: 40px 0 0 0;
  line-height: 86%;
  font-weight: 800;
  margin-bottom: 15px;
}

.news-layout span{
  font-size: 12px;
  line-height: 5px;
  font-weight: normal;
}

.news-item {
  display: grid;
  grid-gap: 10px;
  margin: 5px;
  align-items: center;
  background: white;
  border: 8px solid var(--navyblue);
  padding: 15px;
}

.news-item img {
  width: 100%;
  border-left: 5px solid black;
  padding-left: 5px;
}
.news-item a {
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  color: var(--navyblue);
}

/* Websites */

.websites {
  grid-area: websites;
  background: white;
}

.websites-layout {
  /* margin: 10px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  grid-row-gap: 6%;
  margin-bottom: 4%;
  text-align: center;
}

.websites-layout h2 {
  grid-column: 1 / -1;
  padding: 0;
  margin-bottom: 0;
}

.website-item:nth-child(even) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.website-item:nth-child(even) a{
  justify-self: end;
}

.website-item:nth-child(even) div{
  text-align: center;
  padding: 0 7%;
}

.website-item:nth-child(odd) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.website-item:nth-child(odd) a{
  justify-self: start;
}

.website-item:nth-child(odd) div{
  text-align: center;
}

.website-item a {
  width: 350px;
  height: auto;
}

.website-item a img {
  width: 100%;
  height: auto;
}

.website-item p {
  font-size: 28px;
  font-weight: 600;
}

/* Forums */

.forums {
  grid-area: forums;
  background: var(--silver);
}

.forums-layout {
  /* margin: 10px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  grid-row-gap: 30px;
  margin-bottom: 4%;
  text-align: center;
}

.forums-layout h2 {
  grid-column: 1 / -1;
  padding: 0;
  margin-bottom: 0;
}

.forum-item:nth-child(even) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.forum-item:nth-child(even) a{
  justify-self: end;
}

.forum-item:nth-child(even) div{
  text-align: center;
  padding: 0 7%;
}

.forum-item:nth-child(odd) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.forum-item:nth-child(odd) a{
  justify-self: start;
}

.forum-item:nth-child(odd) div{
  text-align: center;
}

.forum-item a {
  width: 350px;
  height: auto;
}

.forum-item a img {
  width: 100%;
  height: auto;
}

.forum-item p {
  font-size: 28px;
  font-weight: 600;
}


/* Twitter */

.twitter {
  grid-area: twitter;
  display: grid;
  background: rgba(255, 255, 255, 1);
}

.twitter-container {
  display: grid;
  margin: 15px;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  justify-content: center;
  align-items: center;
}

.twitter-container h2 {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 3em;
  font-weight: 600;
}

.twitter-profile {
  display: grid;
  grid-template-columns: 75px 1fr;
  align-self: center;
  justify-self: center;
  grid-gap: 10px;
  width: 100%
}

.twitter-profile > * {
  width: 100%;
  border-radius: 100px;
}




/* Footer */

.footer {
  grid-area: footer;
  /* grid-column: 1 / -1; */
  background-color: var(--pantgrey);
  height: 50px;
}

/* Media Queries */

/* Tablet */
@media(max-width: 900px) {
 body {
   margin: 0;
 }

 .App {
   grid-template-areas: "header header header"
   "news news news"
   "websites websites websites"
   "forums forums forums"
   "twitter twitter twitter"
   "footer footer footer";
 }

 .news-layout {
   display: grid;
   grid-template-columns: auto;
   grid-auto-flow: column;
   max-height: 200px;
   align-items: center;
   padding-bottom: 0;

 }

 .news-layout h2, .news-layout h4 {
   align-self: start;
   padding: 0px;
   margin-right: 20px;
 }

 .news-item {
   padding: 25px;
   width: 150px;
   height: 125px;
 }

 .news-item a {
  font-size: 14px;
 }

}

/* Phone */
@media(max-width: 600px) {
  .App {
    grid-template-areas: "header"
    "news"
    "websites"
    "forums"
    "twitter"
    "footer";
  }

  .websites-layout{
    grid-gap: 25px;
  }

  .website-item {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .website-item:nth-child(even) a{
    grid-column: 1 / -1;
    justify-self: center;
  }
  .website-item:nth-child(even) div{
    grid-column: 1 / -1;
    justify-content: center;
  }

  .website-item:nth-child(odd) a{
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: center;
    order: 0;
  }
  .website-item:nth-child(odd) div{
    justify-content: center;
    grid-column: 1 / -1;
  }


  .forums-layout{
    grid-gap: 25px;
  }

  .forum-item {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .forum-item:nth-child(even) a{
    grid-column: 1 / -1;
    justify-self: center;
  }
  .forum-item:nth-child(even) div{
    grid-column: 1 / -1;
    justify-content: center;
  }

  .forum-item:nth-child(odd) div{
    justify-content: center;
    grid-column: 1 / -1;
  }
  .forum-item:nth-child(odd) a{
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: center;
    order: 0;
  }

}
